.btn {
  font-size: 14px;
  font-weight: 400;
  border: solid 1px transparent;
  padding: 19px 38px;
  border-radius: 50px;
  transition: 0.3s;
  display: inline-block;
  &:focus {
    box-shadow: 0 0 0 4px rgba(var(--primary), 0.5);
  }
  &:active {
    background-color: tomato;
    color: var(--text);
  }
  &.btn-primary {
    background-color: var(--darkSecondary);
    color: #fff;
    text-align: center;
    width: 100%;
    &:hover {
      @media (min-width: 1023px) {
        background-color: var(--primary);
        filter: brightness(90%);
        color: #fff;
      }
    }
  }
  &.btn-light {
    border-color: rgb(var(--primary));
    &:hover {
      @media (min-width: 1023px) {
        background: rgba(var(--primary), 0.2);
      }
    }
  }
  &.btn-transparent {
    background-color: transparent;
    color: var(--darkSecondary);
    text-align: center;
    width: 100%;
  }
}

.btn-disabled {
  color: #dedede;
  border-color: #dedede;
  cursor: default;
}
