//*** Colors ***
:root {
  --primary: #ffd37e;
  --darkSecondary: #1d1f76;
  --lightSecondary: #d7ebff;
  --beige: #fff1d7;
  --gray: #e5e5e5;
  --text: #2d2d2d;

  --black: 0, 0, 0;
  --white: 255, 255, 255;

  //*** Fonts ***
  --ff: "Lato", Arial, Helvetica, sans-serif;
  --stetica: "Stetica", Arial, Helvetica, sans-serif;
  --roboto: "Roboto", Arial, Helvetica, sans-serif;
}

//*** Font sizes ***
:root {
  --fs-1: 16px;
}
